<div class="one-third">
	<h4>FONT FINDER APP</h4>
	<%= image_tag('fontfinder.png', class: 'screenshot-photo') %>
	<p class="italic">www.font-finder.herokuapp.com</p>
  <p>For my first full rails application, I wanted to combine my love of typography with a PostgreSQL database. What resulted was a site which documents the history of impactful fonts, while also suggesting solid font combinations for each font in the database.</p>
  <h3 class="navigation-text"><%= link_to("find out more", "/code/project1") %></h3>
</div>

<div class="one-third">
	<h4>THREE THINGS I DID</h4>
	<%= image_tag('fontfinder.png', class: 'screenshot-photo') %>
	<p class="italic">www.font-finder.herokuapp.com</p>
  <p>For my first full rails application, I wanted to combine my love of typography with a PostgreSQL database. What resulted was a site which documents the history of impactful fonts, while also suggesting solid font combinations for each font in the database.</p>
  <h3 class="navigation-text"><%= link_to("find out more", "/code/project2") %></h3>
</div>

<div class="one-third">
	<h4>BEFORE I KICK IT</h4>
	<%= image_tag('fontfinder.png', class: 'screenshot-photo') %>
	<p class="italic">www.font-finder.herokuapp.com</p>
  <p>For my first full rails application, I wanted to combine my love of typography with a PostgreSQL database. What resulted was a site which documents the history of impactful fonts, while also suggesting solid font combinations for each font in the database.</p>
  <h3 class="navigation-text"><%= link_to("find out more", "/code/project3") %></h3>
</div>