<div id="parallax-world-of-ugg">
  
<section>
    <div class="parallax-one">
      <%= image_tag("logo.png", :class => "logo", :alt => "jmah-logo") %>
      <h1 id="jennifer-mah">Jennifer Mah</h1>
      <h3 id="job-title">graphic designer & web developer</h3>
      <div id="scroll-down">
        <h4>SCROLL DOWN FOR MORE</h4>
        <i class="fa fa-angle-double-down fa-2x"></i>
      </div>
    </div>
</section>

<section>
  <div class="block">
    <div class="section-header">
    <h1>RESUME</h1>
    <h3 class="small-h3">a little bit about me</h3>
  </div>
  
  <div class="seventy-five-percent inline-block">
    <h2>Profile</h2>
    <p>I’m a Canadian-born, London-based graphic designer and aspiring web developer, passionate about creating web applications with beautiful UX and UI that thoughtfully blend technology and creativity.</p>

    <p>I’ve spent the last three months attending General Assembly’s Web Development Immersive program, writing code every day and jumping into the world of JavaScript and Ruby. My design background and my time at General Assembly have left me feeling like I’ve left with a well-rounded understanding of how to create comprehensive client packages for both print and web applications, and how design and development decisions impact one another. Hoping that my design experience coupled with my coding knowledge will help me make the world a bit more beautiful and information more accessible, I’m now eager to gain experience in London’s tech scene. </p>
  </div>

  <div class="pdf-download one-quarter inline-block pulse">
    <a href="https://www.dropbox.com/sh/65g3ae8hts8q2cz/AACPmJO6rzPczciT5MfHsnFIa?dl=0"><i class="fa fa-file-pdf-o fa-2x animated pulse"></i></a>
    <a href="https://www.dropbox.com/sh/65g3ae8hts8q2cz/AACPmJO6rzPczciT5MfHsnFIa?dl=0"><h4>RESUME</h4></a>
    <a href="https://www.dropbox.com/sh/65g3ae8hts8q2cz/AACPmJO6rzPczciT5MfHsnFIa?dl=0"><p class="download-here italic">download it here</p></a>



    <a href="https://github.com/jenmah"><i class="fa fa-github-square fa-2x"></i></a>
    <h4>GITHUB</h4>
    <p class="italic">check out my code</p>
  </div>

      <div class="one-half">
        <h2>Education</h2>
        <div class="education">
          <div class="resume-date">
            <h4>2015</h4>
          </div>

          <div class="education-description">
            <h4>GENERAL ASSEMBLY</h4>
            <p>Web Development Immersive:</p>
            <p class="italic">Graduated August 2015</p>
          </div>

        <div class="education">
          <div class="resume-date">
            <h4>2012-2013</h4>
          </div>
          <div class="education-description">
            <h4>BCIT</h4>
            <p>Graphic Design Associate Certificate:</p>
            <p class="italic">Graduated April 2013</p>
          </div>
        </div>

        <div class="education bottom-border">
          <div class="resume-date">
            <h4>2007-2011</h4>
          </div>
          <div class="education-description">
            <h4>THE UNIVERSITY OF EDINBURGH</h4>
            <p>Bachelor of Arts Degree with Honours, 
    English Literature & Classics:</p>
            <p class="italic">Conferred June 1st, 2011</p>
          </div>
        </div>
        </div>
      </div>


        <div class="one-hundred-percent">
          <div class="experience">
          <h2 id="work-experience-h2">Work Experience</h2>
          <h4>GRAPHIC DESIGNER & COPYWRITER</h4>
          <p class="italic">WCI Media Studios: May 2013 - April 2015</p>
          <p class="work-experience-p">During my time with WCI, I was responsible for the design, development, and maintenance of all print and web design materials. I regularly met with clients to discuss the implementation of their brands, and the best way to communicate their ideas in visually impactful ways. Most clients required full branding packages, including logos, business cards, brochures, inserts, and websites, meaning I was lucky enough to be able to design everything from magazines spreads right through to mobile applications available on both the iTunes and Google Play stores.</p>

          <h4>DIGITAL MEDIA EDITOR FOR BCLIVING.CA</h4>
          <p class="italic">Canada Wide Media Ltd.: February 2012 - December 2012</p>
          <p class="work-experience-p">An intern eventually turned contract employee, I was in charge of editing, uploading, and producing digital content for the BCBusiness and bcliving.ca websites. I worked with content management systems such as Drupal and Wordpress on a daily basis to update everything from the SEO to the front page photos, and was also able to write articles for the travel, entertainment, and style sections of the site.</p>

          <h4>GRAPHIC DESIGNER</h4>
          <p class="italic">Hush Magazine: Fall/Winter 2011</p>
          <p class="work-experience-p">I was the sole layout designer in charge of a local print magazine called Hush. As a publication focused on the latest events and trending topics in downtown Vancouver, I worked alongside the ediorial team to create spreads for musician and artist interviews, opinion pieces, and restaurant and entertainment reviews.</p>

          <h2 class="general-assembly-section">General Assembly</h2>
          <p>My experience at General Assembly began with learning the fundamentals of programming, straight through to becoming comfortable launching my own full-stack web applications. I was able to fully dedicate myself to writing better code every day, to experiencing long hours of pair programming, and to continually pushing myself to learn new languages and technologies, including Ruby, Rails, JavaScript, jQuery, Node, Express, Backbone, Git, HTML5, CSS, Sass, Underscore, Mustache, and SQL.</p>
          </div>
        </div>

  </div>
</section>

<section>
  <div class="parallax-two">
    <!-- <h1>Code & General Assembly</h1> -->
  </div>
</section>

<section>
  <div class="block">
    <div class="section-header">
      <h1>WORK</h1>
      <h3 class="small-h3">my code & design projects</h3>
    </div>
        <div class="one-hundred-percent">
          <div class="experience work">

          <div class="one-third project work-box work-one">
            <%= image_tag("fontfinder2.jpg", :class => "work-box-photo") %>
            <h4>FONT FINDER</h4>
            <h3>web development</h3>
            <h3><%= link_to('find out more', code_project1_path) %></h3>
          </div>

          <div class="one-third project work-box work-two">
            <%= image_tag("fontfinder2.jpg", :class => "work-box-photo") %>
            <h4>THREE THINGS I DID</h4>
            <p class="italic">web development</p>
            <h3><%= link_to('find out more', code_project2_path) %></h3>
          </div>

          <div class="one-third work-box work-three">
            <%= image_tag("bucketlist1.jpg", :class => "work-box-photo") %>
            <h4>BEFORE I KICK IT</h4>
            <p class="italic">web development</p>
            <h3><%= link_to('find out more', code_project3_path) %></h3>
          </div>

          <div class="one-third project work-box work-four">
            <%= image_tag("lookbook4.jpg", :class => "work-box-photo") %>
            <h4>LOOK BOOK</h4>
            <p class="italic">graphic design</p>
            <h3><%= link_to('find out more', code_design1_path) %></h3>
          </div>

          <div class="one-third project work-box work-five">
            <%= image_tag("fontfinder2.jpg", :class => "work-box-photo") %>
            <h4>VOICES IN THE VALLEY</h4>
            <p class="italic">graphic design</p>
            <h3><%= link_to('find out more', code_project2_path) %></h3>
          </div>

          <div class="one-third work-box work-six">
            <%= image_tag("fontfinder2.jpg", :class => "work-box-photo") %>
            <h4>WHERE THE HEART IS</h4>
            <p class="italic">graphic design</p>
            <h3><%= link_to('find out more', code_project3_path) %></h3>
          </div>

        </div>

    </div>

  </div>
</section>

<section>
  <div class="parallax-three">
    <!-- <h1>Contact Me</h1> -->
  </div>
</section>

<section>
  <div class="block">
    <div class="section-header">
      <h1>CONTACT</h1>
      <h3 class="small-h3">come say hi</h3>
    </div>

    <div id="contact-me">
      <div class="inline-block say-hi">
        <h4>SAY HI</h4>
        <p>07823465665<p>
        <p>jen.mah@hotmail.com</p>
      </div>

      <div class="inline-block check-out">
        <h4>CHECK ME OUT</h4>
        <p>github.com/jenmah</p>
        <p>uk.linkedin.com/in/jenmah</p>
      </div>
    </div>

  </div>
</section>
  
</div>