<!DOCTYPE html>
<html>
<head>
  <title>Jen Mah</title>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
  <link href='http://fonts.googleapis.com/css?family=Crimson+Text:400,700italic,700,600italic,600,400italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="navigation-bar">
	<div id="nav-top">
	<%= image_tag("logo.png", :class => "logo", :alt => "jmah-logo") %>
	</div>
	<ul class="nav-links">
		<h3><li><%= link_to('resume', resume_path) %></li></h3>
	  <h3><li><%= link_to('design', design_path) %></li></h3>
	  <h3><li><%= link_to('code', code_path) %></li></h3>
	  <h3><li><%= link_to('contact', contact_path) %></li></h3>
	</ul>

	<a href="https://instagram.com/jenmah/" id="heading"><i class="fa fa-instagram"></i></a>
  <a href="https://github.com/jenmah" id="heading"><i class="fa fa-github"></i></a>
  <a href="https://uk.linkedin.com/in/jenmah" id="heading"><i class="fa fa-linkedin"></i></a>
  <h4>WWW.JENMAH.COM</h4>
</div>

<div id="dynamic-area">
	<%= yield %>
<div>

</body>
</html>
