<!DOCTYPE html>
<html>
<head>
  <title>Jen Mah</title>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
  <link href='http://fonts.googleapis.com/css?family=Crimson+Text:400,700italic,700,600italic,600,400italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
  <script src="//cdn.jsdelivr.net/jquery.scrollto/2.1.0/jquery.scrollTo.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.3.0/animate.css">
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="navigation-bar">
	<ul class="nav-links">

	<a href="#section1">
		<div id="first-nav">
			<h4><li id="resume-li">
				<h4><li>RESUME</li></h4>
				<hr class="nav-hr"><i class="fa fa-file-text-o"></i><hr class="nav-hr">
				<h3><li>view my resume</li></h3>
		</div>
	</a>

	<a href="#section2">
		<div id="second-nav">
				<h4><li id="resume-li">
				<h4><li>WORK</li></h4>
					<hr class="nav-hr"><i class="fa fa-desktop animated pulse"></i><hr class="nav-hr">
				  <h3><li>code & design portfolio</li></h3>
		</div>	
	</a>

	<a href="#section3">
		<div id="third-nav">
			<h4><li id="resume-li">
				<h4><li>CONTACT</li></h4>
				<hr class="nav-hr"><i class="fa fa-envelope-o"></i><hr class="nav-hr">
				<h3><li>drop me a line</li></h3>
		</div>
	</a>

	</ul>

	<a href="https://instagram.com/jenmah/" id="heading"><i class="fa fa-instagram"></i></a>
  <a href="https://github.com/jenmah" id="heading"><i class="fa fa-github"></i></a>
  <a href="https://uk.linkedin.com/in/jenmah" id="heading"><i class="fa fa-linkedin"></i></a>
  <h4 class="jenmah-com"><%= link_to('WWW.JENMAH.COM', root_path) %></h4>
</div>

<div id="dynamic-area">
	<%= yield %>
<div>

</body>
</html>
